@page
@model IndexModel
@using ClassLibraries.models
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <div class="row">
        <h3 class="category">
            Best reviewed:
        </h3>
        @foreach (Movie m in Model.BestRated)
        {
            <div class="card-movie">
                <a asp-page="/Movies/MovieDetails" asp-route-m="true" asp-route-movieId="@m.Id">
                    <div class="arbox">
                        <div class="media">
                            <img src="@m.ImageUrl" alt="">
                        </div>
                    </div>
                    <p>@m.Name</p>
                </a>
            </div>
        }
        <a asp-route-currentpagerated="@(Model.CurrentPageRated + 1)" asp-route-currentpagenew="@(Model.CurrentPageNew)" class="load-more">Load more...</a>
    </div>
    <div class="row">
        <h3 class="category">
            Recently added:
        </h3>
        @foreach (Movie m in Model.Newest)
        {
            <div class="card-movie">
                <a asp-page="/Movies/MovieDetails" asp-route-m="true" asp-route-movieId="@m.Id">
                    <div class="arbox">
                        <div class="media">
                            <img src="@m.ImageUrl" alt="">
                        </div>
                    </div>
                    <p>@m.Name</p>
                </a>
            </div>
        }
        <a asp-route-currentpagerated="@(Model.CurrentPageRated)" asp-route-currentpagenew="@(Model.CurrentPageNew + 1)" class="load-more">Load more...</a>
    </div>
</div>      