@page "{m}/{movieId}"
@model WatchedItWeb.Pages.Movies.MovieDetailsModel
@using ClassLibraries.models
@{
}
<div class="wrapper">
    <div class="movie-details">
        <div class="moviepic">
            <div class="media">
                <img src="@Model.movie.ImageUrl" alt="">
            </div>
        </div>
        <div class="movie-description">
            <h3>
                @Model.movie.Name - @if (Model.movie is Episode)
            {
                @:Season
                @(((Episode)Model.movie).SeasonNo.ToString());
                @:Episode
                @(((Episode)Model.movie).EpisodeNo.ToString());
            }
            </h3>
            <div class="desc-header">
                <p>@Model.movie.Year.Year</p>
                <p>@Model.movie.Genre</p>
                <p>@Model.movie.Rating / 5</p>
            </div>
            <div class="desc-desc">
                <p>@Model.movie.Description</p>
            </div>
            <div class="desc-actors">
                <h3>@Model.movie.Duration.Hours Hours @Model.movie.Duration.Minutes minutes</h3>
                <div class="producers">
                    <h4>Producers:</h4>
                    @foreach (string item in Model.movie.Producer.Split("\r\n"))
                    {
                        <p>@item</p>
                    }
                </div>
                <div class="actors">
                    <h4>Starring:</h4>
                    @foreach (string item in Model.movie.Actors.Split("\r\n"))
                    {
                        <p>@item</p>
                    }
                </div>
            </div>
            @if (HttpContext.Session.GetLoggedUser()?.IsAdmin == true)
            {
                <div class="controls">
                    <a asp-page="/Movies/EditMovie" asp-route-movieId="@Model.movie.Id" asp-route-m="@(Model.movie.GetType() == typeof(Episode) ? false : true)">Edit</a>
                    <form method="post">
                        @if (Model.movie is Episode)
                        {
                            <input type="hidden" name="seriesId" value="@(((Episode)Model.movie).SeriesId)" />
                        }
                        <button type="submit" asp-page-handler="OnDelete">Delete</button>
                    </form>
                </div>
            }
            @if (HttpContext.Session.GetLoggedUser() != null)
            {
                <div class="leave-review">
                    <h4>Leave review</h4>
                    <form method="post" class="flat">
                        <div class="media">
                            <img src="@HttpContext.Session.GetLoggedUser().ImageUrl" onerror=this.src="../../../images/default-user-image.png">
                        </div>
                        <textarea placeholder="Description" class="review-desc" type="text" asp-for="review.Description"></textarea>
                        <input placeholder="rating" class="stars" type="number" asp-for="review.Rating" min="1" max="5">
                        <button type="submit" asp-page-handler="OnSubmitReview">Send</button>
                    </form>
                </div>
            }
        </div>
        <div class="reviews">
            <h3>Reviews</h3>
            @foreach (Review r in Model.reviews)
            {
                <div class="review">
                    <div class="review-header">
                        <div class="media">
                            <img src="@r.UserImg" onerror=this.src ="../../../images/default-user-image.png">
                        </div>
                        @if (r.UserId == HttpContext.Session.GetLoggedUser()?.Id)
                        {
                            <p>You</p>
                        }
                        else
                        {
                            <p>@r.FirstName @r.LastName</p>
                        }

                        <p>@r.Rating/5</p>

                        @if (HttpContext.Session.GetLoggedUser()?.IsAdmin == true || HttpContext.Session.GetLoggedUser()?.Id == r.UserId)
                        {
                            <form method="post">
                                <input type="hidden" name="reviewId" value="@r.Id" />
                                <button class="delete-review" type="submit" asp-page-handler="OnDeleteReview">Delete</button>
                            </form>
                        }

                    </div>
                    <div class="review-content">
                        <p>@r.Description</p>
                    </div>
                </div>
            }
            @if (Model.reviews.Count == 0)
            {
                <p>This movie currently has no reviews.</p>
            }
            else
            {
                <a asp-route-currentpage="@(Model.CurrentPage + 1)" class="load-more">Load more...</a>
            }

        </div>
    </div>
</div>